/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 * Config By Serk70: https://github.com/Serk70/zmk-config-fuji44/blob/main/config/fuji44.keymap
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/bt.h>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/pointing.h>

/ {
    combos {
        compatible = "zmk,combos";

        Underscore {
            bindings = <&kp UNDER>;
            key-positions = <18 19>;
            layers = <0>;
            timeout-ms = <50>;
        };

        LANG_SWITCH {
            bindings = <&kp LC(LEFT_SHIFT)>;
            key-positions = <12 24>;
            timeout-ms = <80>;
            slow-release;
            layers = <0>;
        };

        MINUS_KEY {
            bindings = <&kp KP_MINUS>;
            key-positions = <16 17>;
            timeout-ms = <50>;
            layers = <0>;
        };

        Shift_Tab {
            bindings = <&kp LS(TAB)>;
            key-positions = <16 17>;
            timeout-ms = <50>;
            layers = <3 4>;
            slow-release;
        };
    };

    behaviors {
        ss_hs_modmorph: ss_hs_modmorph {
            compatible = "zmk,behavior-mod-morph";
            label = "SS_HS_MODMORPH";
            bindings = <&kp M>, <&kp RIGHT_BRACKET>;

            #binding-cells = <0>;
            mods = <(MOD_LSFT|MOD_RSFT)>;
        };

        kh_hs_tapdance: kh_hs_tapdance {
            compatible = "zmk,behavior-tap-dance";
            label = "KH_HS_TAPDANCE";
            #binding-cells = <0>;
            tapping-term-ms = <200>;
            bindings = <&kp LEFT_BRACKET>, <&kp RIGHT_BRACKET>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };

        ht_grv_esc: ht_grv_esc {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_GRV_ESC";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            quick-tap-ms = <120>;
            flavor = "tap-preferred";
        };

        ht_tap_prior: ht_tap_prior {
            compatible = "zmk,behavior-hold-tap";
            label = "HT_TAP_PRIOR";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <220>;
            require-prior-idle-ms = <0>;
            flavor = "tap-preferred";
            quick-tap-ms = <120>;
        };
    };

    macros {
        mDOT: mDOT {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_4 &kp KP_NUMBER_6>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MDOT";
        };

        mCOMMA: mCOMMA {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp LEFT_ALT>,
                <&macro_tap>,
                <&kp KP_NUMBER_4 &kp KP_NUMBER_4>,
                <&macro_release>,
                <&kp LEFT_ALT>;

            label = "MCOMMA";
        };

        mPlayStop: mPlayStop {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings =
                <&macro_press>,
                <&kp C_PLAY_PAUSE>,
                <&macro_wait_time 500>,
                <&macro_release>,
                <&kp C_PLAY_PAUSE>;

            label = "MPLAYSTOP";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        def {
            bindings = <
&ht_tap_prior ESCAPE GRAVE          &kp Q  &kp W        &kp E        &kp R            &kp T                   &kp Y        &kp U            &kp I        &kp O        &kp P     &kp LEFT_BRACKET
&to 3                               &kp A  &kp S        &kp D        &kp F            &kp G                   &kp H        &kp J            &kp K        &kp L        &kp SEMI  &kp SQT
&ht_tap_prior LCTRL LC(LEFT_SHIFT)  &kp Z  &kp X        &kp C        &kp V            &kp B                   &kp N        &kp M            &kp COMMA    &kp DOT      &kp FSLH  &ht_tap_prior LCTRL RIGHT_BRACKET
                                           &key_repeat  &lt 2 ENTER  &lt 4 BACKSPACE  &mt LEFT_SHIFT SPACE    &lt 3 SPACE  &lt 1 BACKSPACE  &lt 5 ENTER  &key_repeat
            >;
        };

        num {
            bindings = <
&kp ESCAPE   &kp KP_MULTIPLY  &kp NUMBER_6  &kp N5        &kp NUMBER_4  &kp KP_SLASH       &none           &kp INS          &kp DELETE        &kp RC(PAUSE_BREAK)  &none          &to 0
&kp KP_PLUS  &kp NUMBER_3     &kp NUMBER_2  &kp NUMBER_1  &kp NUMBER_0  &kp KP_SUBTRACT    &kp UNDERSCORE  &kp RIGHT_SHIFT  &kp LEFT_CONTROL  &kp LALT             &kp RIGHT_WIN  &kp ENTER
&kp EQUAL    &mCOMMA          &kp N9        &kp NUMBER_8  &kp N7        &mDOT              &to 2           &kp EQUAL        &kp LESS_THAN     &kp GREATER_THAN     &kp SLASH      &kp RCTRL
                              &none         &trans        &trans        &trans             &trans          &kp BACKSPACE    &sl 6             &none
            >;
        };

        F15_media_numpad {
            bindings = <
&kp C_MUTE         &kp F1         &kp F2            &kp F3     &kp F4           &kp F5           &kp KP_DIVIDE   &kp KP_N7      &kp KP_NUMBER_8  &kp KP_N9        &kp KP_MULTIPLY  &kp ESCAPE
&kp C_VOL_UP       &sk LEFT_GUI   &sk LEFT_ALT      &sk LCTRL  &sk LEFT_SHIFT   &mPlayStop       &kp KP_MINUS    &kp KP_N4      &kp KP_N5        &kp KP_NUMBER_6  &kp KP_PLUS      &kp EQUAL
&kp C_VOLUME_DOWN  &kp LG(LS(T))  &kp LG(KP_MINUS)  &none      &kp LG(KP_PLUS)  &kp LC(LS(T))    &kp KP_NUMLOCK  &kp KP_N1      &kp KP_N2        &kp KP_N3        &kp KP_DOT       &kp E
                                  &none             &kp ENTER  &trans           &kp SPACE        &lt 3 KP_N0     &kp BACKSPACE  &lt 6 KP_ENTER   &none
            >;
        };

        nav {
            bindings = <
&kp ESCAPE  &none         &none         &kp LA(LEFT)  &kp LA(RIGHT)   &kp LC(Y)    &kp PAGE_UP    &kp HOME        &kp UP_ARROW    &kp END          &msc SCRL_UP     &to 0
&to 0       &kp LEFT_WIN  &kp LEFT_ALT  &kp LCTRL     &kp LEFT_SHIFT  &kp TAB      &kp PAGE_DOWN  &kp LEFT_ARROW  &kp DOWN_ARROW  &kp RIGHT        &msc SCRL_DOWN   &kp ENTER
&kp LC(A)   &none         &kp LC(X)     &kp LC(C)     &kp LC(V)       &kp LC(Z)    &none          &msc SCRL_LEFT  &kp LS(F10)     &msc SCRL_RIGHT  &kp LC(KP_PLUS)  &kp LC(KP_MINUS)
                          &none         &kp ENTER     &trans          &trans       &kp SPACE      &kp BACKSPACE   &trans          &none
            >;
        };

        symb {
            bindings = <
&to 0      &none          &kp F2        &kp DELETE   &kp INSERT      &kp LC(Y)    &kp AMPERSAND   &kp CARET             &kp EXCLAMATION        &kp AT_SIGN       &kp DOLLAR    &kp HASH
&to 1      &kp LEFT_GUI   &kp LEFT_ALT  &kp LCTRL    &kp LEFT_SHIFT  &kp TAB      &kp UNDERSCORE  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PERCENT       &kp COLON     &kp DOUBLE_QUOTES
&kp LC(A)  &kp LG(LS(S))  &kp LC(X)     &kp LC(INS)  &kp LS(INS)     &kp LC(Z)    &kp BACKSLASH   &kp EQUAL             &kp LESS_THAN          &kp GREATER_THAN  &kp QUESTION  &kp PIPE
                          &none         &sl 6        &trans          &trans       &kp SPACE       &kp LC(BACKSPACE)     &kp LC(DEL)            &kp UNDERSCORE
            >;
        };

        Func {
            bindings = <
&kp ESCAPE  &trans  &trans  &trans  &trans  &trans    &kp F6  &kp F7           &kp F8     &kp F9         &kp F10        &kp F11
&trans      &trans  &trans  &trans  &trans  &trans    &none   &sk RIGHT_SHIFT  &sk RCTRL  &sk RIGHT_ALT  &sk RIGHT_GUI  &kp F12
&trans      &trans  &trans  &trans  &trans  &trans    &kp F5  &kp F4           &kp F3     &kp F2         &kp F1         &none
                    &trans  &mo 6   &trans  &trans    &trans  &trans           &trans     &trans
            >;
        };

        sys {
            bindings = <
&bootloader  &none         &none         &bt BT_CLR_ALL  &bt BT_CLR    &none    &kp CAPSLOCK          &kp PRINTSCREEN      &kp SCROLLLOCK  &kp PAUSE_BREAK  &none         &bootloader
&none        &none         &none         &none           &none         &none    &kp C_AL_MY_COMPUTER  &kp C_AL_CALCULATOR  &none           &none            &none         &kp C_SLEEP
&sys_reset   &bt BT_SEL 3  &bt BT_SEL 2  &bt BT_SEL 1    &bt BT_SEL 0  &none    &none                 &bt BT_SEL 0         &bt BT_SEL 1    &bt BT_SEL 2     &bt BT_SEL 3  &sys_reset
                           &none         &none           &none         &none    &none                 &none                &none           &none
            >;
        };
    };
};
