name: Build ZMK config
on:
  workflow_dispatch:  # can be triggered manually
  push:               # automatically run on changes to following paths
    paths:
      - "config/*.keymap"

jobs:
  build:
    uses: zmkfirmware/zmk/.github/workflows/build-user-config.yml@latest
